:root {
  --header-color: #ffffff;
  --main-title-color: #ffffff;
  --second-title-color: #303030;
  --main-btn-color: #ffffff;
  --second-btn-color: #303030;
  --accent-color: #ff6c00;
  --main-text-color: #555555;
  --second-text-color: #9da4bd;
  --third-text-color: #303030;
  --address-color: #9da4bd;
  --typical-margine: 20px;
}

body {
  font-family: 'Open Sans', tahoma, sans-serif;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid darkolivegreen;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/*------------------------------------------ Захований заголовок */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.top-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.boottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

/*------------------- Header--------------------- */

/* тимчасовий колір */
.header {
  background-color: cadetblue;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--header-color);
}

.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

.header-btn {
  color: var(--main-btn-color);
}

.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
}

/*-------------------------- Hero---------------------- */

.hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}

.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}

.hero-content {
  background-color: #303030;
  padding: 272px 0 206px 96px;
}

.hero-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margine);
}

.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--main-title-color);
  margin-bottom: var(--typical-margine);
}

.hero-boottom-text {
  color: var(--second-text-color);
  max-width: 400px;
}

/*--------------------------- About------------------------ */
.about {
  padding-top: 139px;
  padding-bottom: 121px;
}

.about-top-text {
  color: var(--third-text-color);
  margin-bottom: var(--typical-margine);
}

.about-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margine);
}

.about-bottom-text {
  color: var(--main-text-color);
  margin-bottom: var(--typical-margine);
}

.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.about-btn {
  color: var(--second-btn-color);
}

/*------------------- Price---------------------- */
.price {
  background-color: #303030;
  padding-top: 130px;
  padding-bottom: 130px;
}
.price-top-text {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--typical-margine);
}
.price-title {
  color: var(--main-title-color);
  margin-bottom: 44px;
}

.price-list {
  border: 2px solid white;
  padding: 30px 40px;
}

.price-item {
  margin-bottom: var(--typical-margine);
}
.price-item-text {
  color: var(--second-text-color);
}
.price-btn {
  color: var(--main-btn-color);
}

/*------------------- Reasons---------------------- */
.reasons {
  padding-top: 114px;
  padding-bottom: 137px;
}

.reasons-item {
  width: 170px;
  height: 130px;
  border: 2px solid black;
}

.reasons-item-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: var(--third-text-color);
  margin-bottom: 6px;
  display: block;
}
.reasons-item-text {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: var(--third-text-color);
}
.reasons-top-text {
  color: var(--third-text-color);
  margin-bottom: var(--typical-margine);
}
.reasons-title {
  color: var(--second-title-color);
  margin-bottom: var(--typical-margine);
}
.reasons-bottom-text {
  color: var(--main-text-color);
}

/*------------------- Masters---------------------- */
.masters {
  padding-top: 130px;
  padding-bottom: 130px;
}
.masters-top-text {
  color: var(--third-text-color);
  margin-bottom: var(--typical-margine);
}

.masters-title {
  color: var(--second-title-color);
  margin-bottom: 44px;
}

.masters-img {
  margin-bottom: 30px;
}

.masters-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  margin-bottom: 8px;
}
.masters-item-text {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/*------------------- Gallery---------------------- */
.gallery {
  padding-top: 130px;
  padding-bottom: 130px;
}

.gallery-top-text {
  color: var(--third-text-color);
  margin-bottom: 44px;
}
